* {
    @import url('https://fonts.googleapis.com/css2?family=Lexend&family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,400&family=Ubuntu:ital@1&display=swap');
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    margin-top:650px;
  }
  
  .searchInput-div {
    display: flex;
    align-items: center;
    border-radius: 10px;
  }
  
  .searchInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: url('https://cdn.jsdelivr.net/boxicons/2.1.4/svg/search.svg')
      no-repeat 10px center;
    background-size: 18px 18px;
    padding-left: 40px; /* Adjust this value to position the icon */
    box-sizing: border-box;
    border-radius: 10px;
  }
  
  .searchButton {
    margin-left: 10px;
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 10px;  
  }
  
  .rights {
    text-align: center;
    color: #888;
    padding: 10px;
    margin-bottom:850px;
  }
